html
    include _head.pug
    body
        div.container
            div.col-md-10
                h1= title
                a(href='/addpost') ADD POST
                ul.posts
                    each item in posts
                        li
                            h2= item.title
                            p= item.content
                            p= item.displayName
                        a(href= item.id) link